@import "_variables.scss";

/*
 SCROLL 
 */

/*  width */
::-webkit-scrollbar {
  width: 5px;
}

/* background */
::-webkit-scrollbar-track {
  background-color: $scroll-background;
}

/* bar color */
::-webkit-scrollbar-thumb {
  background: $scroll-background-bar;
}

/* Disable Button */
::-webkit-scrollbar-button {
  display: none;
}

/* loading mark */
.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  border: 8px solid $loading-one;
  border-top: 8px solid $loading-two;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  animation: spin 2s linear infinite;
}

/* title */
.Title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $background;
  margin-left: 20%;
  margin-right: 20%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translate3d(0, 10px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes sizeUp {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(5);
  }
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.3) rotate(180deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}

@keyframes leftIn {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes leftOut {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes rightIn {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes rightOut {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

@media (min-width: 1281px) {
}

/* ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px */

@media (min-width: 1025px) and (max-width: 1280px) {
}

/* ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px */

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    margin-left: 10%;
    margin-right: 10%;
  }
}

/* ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

/* ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px */

@media (min-width: 481px) and (max-width: 767px) {
  body {
    margin-left: 5%;
    margin-right: 5%;
  }
}

/* ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px */

@media (max-width: 480px) {
  body {
    margin-left: 5%;
    margin-right: 5%;
  }
}
